.about-section {
    margin-top: 50px;
  padding: 80px 20px;
  background-color: #f9f9f9;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.about-image img {
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about-content h3 {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.about-content p {
  color: #666;
  line-height: 1.7;
  margin-bottom: 15px;
}

.about-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #444;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    text-align: center;
    flex-direction: column;
  }

  .about-info {
    grid-template-columns: 1fr;
  }
}
